#include <behaviors/rgbled_widget.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        hm: homerow_mod {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        bt_sel_0: bt_select_0 {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&bt_sel 0>, <&bt_clr 0>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        bt_sel_1: bt_select_1 {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&bt_sel 1>, <&bt_clr 1>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        bt_sel_2: bt_select_2 {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&bt_sel 2>, <&bt_clr 2>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        bt_sel_3: bt_select_3 {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&bt_sel 3>, <&bt_clr 3>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        bt_sel_4: bt_select_4 {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&bt_sel 4>, <&bt_clr 4>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        ht_hyper: hold_tap_hyper {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            require-prior-idle-ms = <70>;
        };

        hrm_left: home_row_left {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <230>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <60>;
            hold-trigger-key-positions = <39 40 41 8 31 8 9 11 12 13 20 21 22 23 24 25 31 32 33 34 35 41 10 1 36 37 38>;
            flavor = "balanced";
        };

        hrm_right: home_row_right {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <230>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <60>;
            hold-trigger-key-positions = <0 2 3 4 5 6 7 14 15 16 17 18 19 26 27 28 29 30 36 37 38 39 40 41>;
            flavor = "balanced";
        };

        td_bspc: td_bspc {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp LA(BACKSPACE)>;

            tapping-term-ms = <135>;
        };

        equals_asterisk: equals_asterisk {
            compatible = "zmk,behavior-mod-morph";
            label = "EQUALS_ASTERISK";
            bindings = <&kp EQUAL>, <&kp ASTERISK>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        coma_excl: coma_excl {
            compatible = "zmk,behavior-mod-morph";
            label = "COMA_EXCL";
            bindings = <&kp COMMA>, <&kp EXCLAMATION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        period_at: period_at {
            compatible = "zmk,behavior-mod-morph";
            label = "PERIOD_AT";
            bindings = <&kp PERIOD>, <&kp AT_SIGN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mmv_hold: mmv_hold {
            compatible = "zmk,behavior-sticky-key";
            label = "MMV_HOLD";
            bindings = <&mmv>;
            #binding-cells = <1>;
            release-after-ms = <1000>;
        };

        td_app_switch: td_app_switch {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_APP_SWITCH";
            #binding-cells = <0>;
            bindings = <&kp LG(TAB)>, <&start_app_switch>;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    macros {
        bt_sel: bt_select {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&out OUT_BLE &macro_param_1to2 &bt BT_SEL MACRO_PLACEHOLDER>;
        };

        bt_clr: bt_clear {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_param_1to2 &bt BT_SEL MACRO_PLACEHOLDER &bt BT_CLR>;
        };

        print_todo_pv: print_todo_pv {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp FSLH &kp FSLH &kp SPACE &kp LS(T) &kp LS(O) &kp LS(D) &kp LS(O) &kp SPACE &kp LS(P) &kp LS(V) &kp COLON &kp SPACE>;
            label = "PRINT_TODO_PV";
        };

        constant: constant {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp P &kp U &kp B &kp L &kp I &kp C &kp SPACE &kp S &kp T &kp A &kp T &kp I &kp C &kp SPACE &kp F &kp I &kp N &kp A &kp L &kp SPACE>;
            label = "CONSTANT";
        };

        lambda: lambda {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPACE &kp MINUS &kp GT &kp SPACE>;
            label = "LAMBDA";
        };

        full_lambda: full_lambda {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LPAR &kp RPAR &kp SPACE &kp MINUS &kp GT &kp SPACE &kp LBRC &kp RBRC>,
                <&macro_wait_time 30>,
                <&kp LEFT_ARROW &kp LEFT_ARROW &kp LEFT_ARROW &kp LEFT_ARROW &kp LEFT_ARROW &kp LEFT_ARROW &kp LEFT_ARROW>;

            label = "FULL_LAMBDA";
        };

        full_brackets: full_brackets {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LBKT &kp RBKT>,
                <&macro_wait_time 30>,
                <&kp LEFT_ARROW>;

            label = "FULL_BRACKETS";
        };

        full_paranthesis: full_paranthesis {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LPAR &kp RPAR>,
                <&macro_wait_time 30>,
                <&kp LEFT_ARROW>;

            label = "FULL_PARANTHESIS";
        };

        full_braces: full_braces {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LBRC &kp RBRC>,
                <&macro_wait_time 30>,
                <&kp LEFT_ARROW>;

            label = "FULL_BRACES";
        };

        full_greater_less: full_greater_less {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LT &kp GT>, <&macro_wait_time 30>, <&kp LEFT_ARROW>;

            label = "FULL_GREATER_LESS";
        };

        javadoc: javadoc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp FSLH &kp STAR &kp STAR &kp RET>;
            label = "JAVADOC";
        };

        space_to_0: space_to_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPACE &to 0>;
            label = "SPACE_TO_0";
        };

        start_app_switch: enter_app_switch_window {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LGUI &kp TAB &to 4>;
            label = "ENTER_APP_SWITCH_WINDOW";
        };

        end_app_switch: end_app_switch {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LGUI &to 0>;
            label = "END_APP_SWITCH";
        };

        sql_like: sql_like {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp SPACE &kp L &kp I &kp K &kp E &kp SPACE &kp SQT &kp PRCNT &kp PRCNT &kp SQT>,
                <&macro_wait_time 30>,
                <&kp LEFT_ARROW &kp LEFT_ARROW>;

            label = "SQL_LIKE";
        };
    };

    combos {
        compatible = "zmk,combos";

        copy {
            bindings = <&kp LG(C)>;
            key-positions = <27 28>;
            layers = <0 5 8>;
        };

        paste {
            bindings = <&kp LG(V)>;
            key-positions = <27 29>;
            layers = <0 5 8>;
        };

        screenshot {
            bindings = <&kp LG(LA(C))>;
            key-positions = <27 29 28>;
            layers = <0 5 8>;
        };

        semicolon {
            bindings = <&kp SEMICOLON>;
            key-positions = <33 34>;
            layers = <0 5 8>;
        };

        undo {
            bindings = <&kp LG(Z)>;
            key-positions = <18 19>;
            layers = <0 2 3 4 5 8 1 6 7>;
        };

        redo {
            bindings = <&kp LG(LS(Z))>;
            key-positions = <21 20>;
            layers = <0 5 8 1 2 3 4 6 7>;
        };

        to_caps {
            bindings = <&to 5>;
            key-positions = <4 5 6>;
            layers = <0 5 8>;
        };

        to_case_styles {
            bindings = <&to 8>;
            key-positions = <9 10 11>;
            layers = <0 5 8>;
        };

        vol_up {
            bindings = <&kp C_VOLUME_UP>;
            key-positions = <6 7>;
            layers = <0 5 8>;
        };

        vol_down {
            bindings = <&kp C_VOLUME_DOWN>;
            key-positions = <29 30>;
            layers = <0 5 8>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        alphas {
            bindings = <
                                &td_app_switch                                                                                                                                                                                        &kp ENTER
&kp TAB                         &kp Q              &kp W             &kp E             &kp R                   &kp T                                                &kp Y  &kp U                &kp I              &kp O              &kp P                          &equals_asterisk
&ht_hyper LS(LA(LC(LGUI))) ESC  &hrm_left LCTRL A  &hrm_left LALT S  &hrm_left LGUI D  &hrm_left LEFT_SHIFT F  &kp G                                                &kp H  &hrm_right RSHIFT J  &hrm_right RGUI K  &hrm_right RALT L  &hrm_right RCTRL SINGLE_QUOTE  &kp MINUS
                                &kp Z              &kp X             &kp C             &kp V                   &kp B                                                &kp N  &kp M                &coma_excl         &period_at         &kp SLASH
                                                                                                               &mo 2  &kp SPACE  &mo 1  &lt 4 LSHFT  &kp BACKSPACE  &mo 7
            >;

            label = "qwert";
        };

        symbols {
            bindings = <
           &trans                                                                                                                                                                                                                          &trans
&kp TILDE  &kp GRAVE                  &kp PERCENT          &kp POUND            &kp DOLLAR             &kp LEFT_BRACE                                                              &kp RIGHT_BRACE        &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp SLASH  &kp LA(ASTERISK)
&kp CARET  &hrm_left LCTRL AMPERSAND  &hrm_left LALT PIPE  &hrm_left LGUI EXCL  &hrm_left LSHFT EQUAL  &kp LEFT_PARENTHESIS                                                        &kp RIGHT_PARENTHESIS  &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp MINUS  &kp PLUS
           &kp SLASH                  &kp BACKSLASH        &kp LESS_THAN        &kp GREATER_THAN       &kp LEFT_BRACKET                                                            &kp RIGHT_BRACKET      &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_N0
                                                                                                       &kp LALT              &kp LSHFT  &trans  &full_paranthesis  &full_brackets  &full_braces
            >;
        };

        LT_MAC {
            bindings = <
        &trans                                                                                                                                                                                                                                &trans
&trans  &kp LA(LS(NUMBER_1))  &kp LA(LS(NUMBER_2))  &kp LA(LS(NUMBER_3))  &kp LA(LS(NUMBER_4))  &kp LA(LS(NUMBER_5))                                  &kp LA(LS(NUMBER_6))  &kp LA(LS(NUMBER_7))  &kp LA(LS(NUMBER_8))  &kp LA(LS(NUMBER_9))  &kp LA(LS(EQUAL))  &trans
&trans  &kp LA(NUMBER_1)      &kp LA(NUMBER_2)      &kp LA(NUMBER_3)      &kp LA(NUMBER_4)      &kp LA(NUMBER_5)                                      &kp LA(NUMBER_6)      &kp LA(NUMBER_7)      &kp LA(NUMBER_8)      &kp LA(NUMBER_9)      &kp LA(EQUAL)      &trans
        &trans                &trans                &javadoc              &print_todo_pv        &trans                                                &trans                &lambda               &full_lambda          &sql_like             &trans
                                                                                                &trans                &trans  &trans  &trans  &trans  &trans
            >;
        };

        fun {
            bindings = <
        &trans                                                                                                            &trans
&trans  &trans     &trans    &trans    &trans     &trans                                  &trans  &kp F7  &kp F8  &kp F9  &kp F10  &trans
&trans  &kp LCTRL  &kp LALT  &kp LGUI  &kp LSHFT  &trans                                  &trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans
        &trans     &trans    &trans    &trans     &trans                                  &trans  &kp F1  &kp F2  &kp F3  &kp F12
                                                  &mo 6   &trans  &trans  &trans  &trans  &trans
            >;
        };

        navigation {
            bindings = <
        &trans                                                                                                                                                                           &end_app_switch
&trans  &trans            &trans          &kp LG(MINUS)  &kp LG(EQUAL)  &trans                                            &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &trans           &kp HOME
&trans  &kp LCTRL         &kp LALT        &kp LGUI       &kp LSHFT      &trans                                            &kp LEFT        &kp DOWN        &kp UP        &kp RIGHT        &kp ENTER        &kp END
        &kp C_PLAY_PAUSE  &kp C_PREVIOUS  &kp C_VOL_DN   &kp C_VOL_UP   &kp C_NEXT                                        &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &trans
                                                                        &mkp LCLK   &mkp MCLK  &mkp RCLK  &trans  &trans  &trans
            >;
        };

        caps {
            bindings = <
        &to 0                                                                                                                                                                                                                                &trans
&trans  &kp LS(Q)              &kp LS(W)             &kp LS(E)             &kp LS(R)               &kp LS(T)                                               &kp LS(Y)  &kp LS(U)                &kp LS(I)              &kp LS(O)              &kp LS(P)                      &trans
&to 0   &hrm_left LCTRL LS(A)  &hrm_left LALT LS(S)  &hrm_left LGUI LS(D)  &hrm_left LSHIFT LS(F)  &kp LS(G)                                               &kp LS(H)  &hrm_right RSHIFT LS(J)  &hrm_right RGUI LS(K)  &hrm_right RALT LS(L)  &hrm_right RCTRL SINGLE_QUOTE  &trans
        &kp LS(Z)              &kp LS(X)             &kp LS(C)             &kp LS(V)               &kp LS(B)                                               &kp LS(N)  &kp LS(M)                &trans                 &trans                 &trans
                                                                                                   &kp UNDERSCORE  &kp SPACE  &space_to_0  &trans  &trans  &trans
            >;
        };

        bt {
            bindings = <
        &trans                                                                                                                                &bt BT_CLR
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                                  &trans  &trans  &trans  &trans  &trans      &trans
&trans  &trans        &trans        &trans        &trans        &trans                                        &trans  &trans  &trans  &trans  &trans      &trans
        &trans        &trans        &trans        &trans        &trans                                        &trans  &trans  &trans  &trans  &trans
                                                                &trans        &trans  &trans  &trans  &trans  &trans
            >;
        };

        nums {
            bindings = <
        &trans                                                                                                                     &trans
&trans  &trans     &trans    &trans    &trans     &trans                                  &trans  &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_DIVIDE  &kp KP_MULTIPLY
&trans  &kp LCTRL  &kp LALT  &kp LGUI  &kp LSHFT  &trans                                  &trans  &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_MINUS   &kp KP_PLUS
        &trans     &trans    &trans    &trans     &trans                                  &trans  &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_N0
                                                  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        case_styles {
            label = "case_styles";
            bindings = <
        &trans                                                                                                                                                                                                  &kp ENTER
&trans  &kp Q              &kp W             &kp E             &kp R                   &kp T                                                 &kp Y   &kp U                &kp I              &kp O              &kp P                          &equals_asterisk
&to 0   &hrm_left LCTRL A  &hrm_left LALT S  &hrm_left LGUI D  &hrm_left LEFT_SHIFT F  &kp G                                                 &kp H   &hrm_right RSHIFT J  &hrm_right RGUI K  &hrm_right RALT L  &hrm_right RCTRL SINGLE_QUOTE  &kp MINUS
        &kp Z              &kp X             &kp C             &kp V                   &kp B                                                 &kp N   &kp M                &coma_excl         &period_at         &kp SLASH
                                                                                       &kp UNDERSCORE  &kp SPACE  &sk LSHFT  &trans  &trans  &trans
            >;
        };
    };
};

// vim: expandtab softtabstop=4 shiftwidth=4 filetype=dts
