#include <behaviors/rgbled_widget.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        hm: homerow_mod {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        bt_sel_0: bt_select_0 {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&bt_sel 0>, <&bt_clr 0>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        bt_sel_1: bt_select_1 {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&bt_sel 1>, <&bt_clr 1>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        bt_sel_2: bt_select_2 {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&bt_sel 2>, <&bt_clr 2>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        bt_sel_3: bt_select_3 {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&bt_sel 3>, <&bt_clr 3>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        bt_sel_4: bt_select_4 {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&bt_sel 4>, <&bt_clr 4>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        out_tog: out_toggle {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&out OUT_TOG>, <&out OUT_USB>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        win_ae: win_ae {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&win_ae_low>, <&win_ae_up>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        win_ie: win_ie {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&win_ie_low>, <&win_ie_up>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        win_oe: win_oe {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&win_oe_low>, <&win_oe_up>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        win_ue: win_ue {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&win_ue_low>, <&win_ue_up>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        win_agrave: win_agrave {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&win_agrave_low>, <&win_agrave_up>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        win_eaigu: win_eaigu {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&win_eaigu_low>, <&win_eaigu_up>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        win_dash: win_dash {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&win_emdash>, <&win_endash>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        linux_ae: linux_ae {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&linux_ae_low>, <&linux_ae_up>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        linux_ie: linux_ie {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&linux_ie_low>, <&linux_ie_up>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        linux_oe: linux_oe {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&linux_oe_low>, <&linux_oe_up>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        linux_ue: linux_ue {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&linux_ue_low>, <&linux_ue_up>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        linux_agrave: linux_agrave {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&linux_agrave_low>, <&linux_agrave_up>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        linux_eaigu: linux_eaigu {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&linux_eaigu_low>, <&linux_eaigu_up>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        linux_dash: linux_dash {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&linux_emdash>, <&linux_endash>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        ht_hyper: hold_tap_hyper {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            require-prior-idle-ms = <70>;
        };

        hrm_left: home_row_left {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <210>;
            quick-tap-ms = <125>;
            require-prior-idle-ms = <200>;
            hold-trigger-key-positions = <36 37 38 39 40 41 8 31 8 9 11 12 13 20 21 22 23 24 25 31 32 33 34 35 41 10 1>;
        };

        hrm_right: home_row_right {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <210>;
            quick-tap-ms = <125>;
            require-prior-idle-ms = <200>;
            hold-trigger-key-positions = <39 41 40 0 2 3 4 5 6 7 14 15 16 17 18 19 26 27 28 29 30 36 37 38>;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    macros {
        bt_sel: bt_select {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&out OUT_BLE &macro_param_1to2 &bt BT_SEL MACRO_PLACEHOLDER>;
        };

        bt_clr: bt_clear {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_param_1to2 &bt BT_SEL MACRO_PLACEHOLDER &bt BT_CLR>;
        };

        win_ellipsis: win_ellipsis {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N1 &kp KP_N3 &kp KP_N3>,
                <&macro_release>,
                <&kp LALT>;
        };

        win_ae_low: win_ae_low {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N2 &kp KP_N8>,
                <&macro_release>,
                <&kp LALT>;
        };

        win_ae_up: win_ae_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N1 &kp KP_N9 &kp KP_N6>,
                <&macro_release>,
                <&kp LALT>;
        };

        win_oe_low: win_oe_low {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N4 &kp KP_N6>,
                <&macro_release>,
                <&kp LALT>;
        };

        win_oe_up: win_oe_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N1 &kp KP_N4>,
                <&macro_release>,
                <&kp LALT>;
        };

        win_ue_low: win_ue_low {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N5 &kp KP_N2>,
                <&macro_release>,
                <&kp LALT>;
        };

        win_ue_up: win_ue_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N2 &kp KP_N0>,
                <&macro_release>,
                <&kp LALT>;
        };

        win_ie_low: win_ie_low {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N3 &kp KP_N9>,
                <&macro_release>,
                <&kp LALT>;
        };

        win_ie_up: win_ie_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N0 &kp KP_N7>,
                <&macro_release>,
                <&kp LALT>;
        };

        win_eaigu_low: win_eaigu_low {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N3 &kp KP_N3>,
                <&macro_release>,
                <&kp LALT>;
        };

        win_eaigu_up: win_eaigu_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N0 &kp KP_N1>,
                <&macro_release>,
                <&kp LALT>;
        };

        win_agrave_low: win_agrave_low {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N2 &kp KP_N4>,
                <&macro_release>,
                <&kp LALT>;
        };

        win_agrave_up: win_agrave_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N1 &kp KP_N9 &kp KP_N2>,
                <&macro_release>,
                <&kp LALT>;
        };

        win_sz: win_sz {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N2 &kp KP_N3>,
                <&macro_release>,
                <&kp LALT>;
        };

        win_ostroke: win_ostroke {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N4 &kp KP_N8>,
                <&macro_release>,
                <&kp LALT>;
        };

        win_emdash: win_emdash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N1 &kp KP_N5 &kp KP_N1>,
                <&macro_release>,
                <&kp LALT>;
        };

        win_endash: win_endash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N1 &kp KP_N5 &kp KP_N0>,
                <&macro_release>,
                <&kp LALT>;
        };

        win_euro: win_euro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N1 &kp KP_N2 &kp KP_N8>,
                <&macro_release>,
                <&kp LALT>;
        };

        win_deg: win_deg {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N1 &kp KP_N7 &kp KP_N6>,
                <&macro_release>,
                <&kp LALT>;
        };

        win_qo: win_qo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N1 &kp KP_N7 &kp KP_N1>,
                <&macro_release>,
                <&kp LALT>;
        };

        win_qc: win_qc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N1 &kp KP_N8 &kp KP_N7>,
                <&macro_release>,
                <&kp LALT>;
        };

        linux_ellipsis: linux_ellipsis {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RALT &kp DOT &kp DOT>;
        };

        linux_ae_low: linux_ae_low {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RALT &kp A &kp DQT>;
        };

        linux_ae_up: linux_ae_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp RALT &kp LS(A) &kp DQT>;
        };

        linux_oe_low: linux_oe_low {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RALT &kp O &kp DQT>;
        };

        linux_oe_up: linux_oe_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp RALT &kp LS(O) &kp DQT>;
        };

        linux_ue_low: linux_ue_low {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RALT &kp U &kp DQT>;
        };

        linux_ue_up: linux_ue_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp RALT &kp LS(U) &kp DQT>;
        };

        linux_ie_low: linux_ie_low {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RALT &kp I &kp DQT>;
        };

        linux_ie_up: linux_ie_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp RALT &kp LS(I) &kp DQT>;
        };

        linux_eaigu_low: linux_eaigu_low {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RALT &kp E &kp SQT>;
        };

        linux_eaigu_up: linux_eaigu_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp RALT &kp LS(E) &kp SQT>;
        };

        linux_agrave_low: linux_agrave_low {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RALT &kp A &kp GRAVE>;
        };

        linux_agrave_up: linux_agrave_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp RALT &kp LS(A) &kp GRAVE>;
        };

        linux_sz: linux_sz {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RALT &kp S &kp S>;
        };

        linux_ostroke: linux_ostroke {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RALT &kp O &kp FSLH>;
        };

        linux_emdash: linux_emdash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RALT &kp MINUS &kp MINUS &kp MINUS>;
        };

        linux_endash: linux_endash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp RALT &kp MINUS &kp MINUS &kp DOT>,
                <&macro_press>;
        };

        linux_euro: linux_euro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RALT &kp E &kp EQUAL>;
        };

        linux_deg: linux_deg {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RALT &kp O &kp O>;
        };

        linux_qo: linux_qo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RALT &kp LT &kp LT>;
        };

        linux_qc: linux_qc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RALT &kp GT &kp GT>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_LBKT {
            bindings = <&hm LC(LSHFT) LBKT>;
            key-positions = <17 18>;
            layers = <0>;
            timeout-ms = <20>;
        };

        combo_minus {
            bindings = <&hm LC(LSHFT) MINUS>;
            key-positions = <21 22>;
            layers = <0>;
            timeout-ms = <20>;
        };

        combo_elipse {
            bindings = <&linux_ellipsis>;
            key-positions = <33 34>;
            layers = <0>;
        };

        combo_mb4 {
            bindings = <&mkp MB4>;
            key-positions = <21 22>;
            layers = <1>;
        };

        combo_mb5 {
            bindings = <&mkp MB5>;
            key-positions = <23 24>;
            layers = <1>;
        };

        combo_winelipse {
            bindings = <&win_ellipsis>;
            key-positions = <33 34 32>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        alphas {
            bindings = <
                                &none                                                                                                                                                                                                        &none
&kp TAB                         &kp Q              &kp W             &kp E             &kp R                   &kp T                                                   &kp Y      &kp U                &kp I              &kp O              &kp P                       &kp SQT
&ht_hyper LS(LA(LC(LGUI))) ESC  &hrm_left LCTRL A  &hrm_left LALT S  &hrm_left LGUI D  &hrm_left LEFT_SHIFT F  &kp G                                                   &kp H      &hrm_right RSHIFT J  &hrm_right RGUI K  &hrm_right RALT L  &hrm_right RCTRL SEMICOLON  &kp NON_US_BACKSLASH
                                &kp Z              &hm RALT X        &kp C             &kp V                   &kp B                                                   &kp N      &kp M                &kp COMMA          &hm RALT PERIOD    &kp SLASH
                                                                                                               &lt 2 TAB  &lt 1 SPC  &lt 1 ESC  &lt 4 DEL  &lt 2 BSPC  &lt 3 RET
            >;

            label = "qwert";
        };

        media {
            bindings = <
       &none                                                                                                                                    &none
&none  &none     &none     &none      &none      &none                                      &none       &ind_bat    &ind_con      &none         &none       &none
&none  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none                                      &none       &kp C_PREV  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_NEXT  &none
       &none     &kp RALT  &none      &none      &none                                      &out_tog    &bt_sel_0   &bt_sel_1     &bt_sel_2     &bt_sel_3
                                                 &none  &none  &none  &kp C_STOP  &kp C_PP  &kp C_MUTE
            >;

            label = "Media";
        };

        num {
            bindings = <
       &none                                                                                                                 &none
&none  &kp LBKT   &kp N7  &kp N8  &kp N9  &kp RBKT                                    &none  &none      &none      &none     &none     &none
&none  &kp SEMI   &kp N4  &kp N5  &kp N6  &kp EQUAL                                   &none  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI  &none
       &kp GRAVE  &kp N1  &kp N2  &kp N3  &kp BSLH                                    &none  &none      &none      &kp RALT  &none
                                          &kp DOT    &kp N0  &kp MINUS  &none  &none  &none
            >;

            label = "Numbers";
        };

        sym {
            bindings = <
       &none                                                                                                                          &none
&none  &kp LBRC   &kp AMPS  &kp ASTRK  &kp LPAR   &kp RBRC                                     &none  &none      &none      &none     &none     &none
&none  &kp COLON  &kp DLLR  &kp PRCNT  &kp CARET  &kp PLUS                                     &none  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI  &none
       &kp TILDE  &kp EXCL  &kp AT     &kp HASH   &kp PIPE                                     &none  &none      &none      &kp RALT  &none
                                                  &kp LPAR  &kp RPAR  &kp UNDER  &none  &none  &none
            >;

            label = "Sympols";
        };

        fun {
            bindings = <
       &none                                                                                                                              &none
&none  &kp F12  &kp F7  &kp F8  &kp F9  &kp PSCRN                                                  &none  &none      &none      &none     &none     &none
&none  &kp F11  &kp F4  &kp F5  &kp F6  &kp SLCK                                                   &none  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI  &none
       &kp F10  &kp F1  &kp F2  &kp F3  &kp PAUSE_BREAK                                            &none  &none      &none      &kp RALT  &none
                                        &kp TAB          &kp SPC  &kp K_APPLICATION  &none  &none  &none
            >;

            label = "Function";
        };

        lang {
            bindings = <
       &none                                                                                                                                      &none
&none  &none          &none        &none      &linux_ostroke  &none                                    &none  &none      &linux_ue     &none      &linux_deg  &none
&none  &linux_ae      &linux_euro  &linux_sz  &kp LSHFT       &none                                    &none  &kp LSHFT  &linux_eaigu  &linux_ie  &linux_oe   &none
       &linux_agrave  &none        &none      &none           &none                                    &none  &none      &linux_qo     &linux_qc  &none
                                                              &none  &linux_dash  &none  &none  &none  &none
            >;

            label = "Language";
        };

        win_lang {
            bindings = <
       &none                                                                                                                        &none
&none  &none        &none      &none    &win_ostroke  &none                                  &none  &none      &win_ue     &none    &win_deg  &none
&none  &win_ae      &win_euro  &win_sz  &kp LSHFT     &none                                  &none  &kp LSHFT  &win_eaigu  &win_ie  &win_oe   &none
       &win_agrave  &none      &none    &none         &none                                  &none  &none      &win_qo     &win_qc  &none
                                                      &none  &win_dash  &none  &none  &none  &none
            >;

            label = "Windows Language";
        };

        LT_MAC {
            bindings = <
        &trans                                                                                                                                                                                                                                &trans
&trans  &kp LA(LS(NUMBER_1))  &kp LA(LS(NUMBER_2))  &kp LA(LS(NUMBER_3))  &kp LA(LS(NUMBER_4))  &kp LA(LS(NUMBER_5))                                  &kp LA(LS(NUMBER_6))  &kp LA(LS(NUMBER_7))  &kp LA(LS(NUMBER_8))  &kp LA(LS(NUMBER_9))  &kp LA(LS(EQUAL))  &trans
&trans  &kp LA(NUMBER_1)      &kp LA(NUMBER_2)      &kp LA(NUMBER_3)      &kp LA(NUMBER_4)      &kp LA(NUMBER_5)                                      &kp LA(NUMBER_6)      &kp LA(NUMBER_7)      &kp LA(NUMBER_8)      &kp LA(NUMBER_9)      &kp LA(EQUAL)      &trans
        &trans                &trans                &trans                &trans                &trans                                                &trans                &trans                &trans                &trans                &trans
                                                                                                &trans                &trans  &trans  &trans  &trans  &trans
            >;
        };

        symbols {
            bindings = <
        &trans                                                                                                                                                                   &trans
&trans  &kp EXCLAMATION  &kp AT_SIGN     &kp POUND         &kp DOLLAR            &kp PERCENT                                     &kp CARET      &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp SLASH  &kp ASTERISK
&trans  &kp LS(COMMA)    &kp LS(PERIOD)  &kp LS(N1)        &kp EQUAL             &kp UNDERSCORE                                  &kp AMPERSAND  &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp MINUS  &kp PLUS
        &trans           &trans          &kp SINGLE_QUOTE  &kp LS(SINGLE_QUOTE)  &kp GRAVE                                       &kp ASTERISK   &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp TILDE
                                                                                 &trans          &trans  &trans  &trans  &trans  &kp KP_N0
            >;
        };

        fn {
            bindings = <
        &trans                                                                                                            &trans
&trans  &trans     &trans    &trans    &trans     &trans                                  &trans  &kp F7  &kp F8  &kp F9  &kp F10  &trans
&trans  &kp LCTRL  &kp LALT  &kp LGUI  &kp LSHFT  &trans                                  &trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans
        &trans     &trans    &trans    &trans     &trans                                  &trans  &kp F1  &kp F2  &kp F3  &kp F12
                                                  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        navigation {
            bindings = <
        &trans                                                                                                                                                                     &trans
&trans  &bt_sel_0       &bt_sel_1     &bt_sel_2        &bt_sel_3   &bt_sel_4                                        &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &trans     &trans
&trans  &kp LCTRL       &kp LALT      &kp LGUI         &kp LSHFT   &trans                                           &kp LEFT        &kp DOWN        &kp UP        &kp RIGHT        &kp ENTER  &trans
        &kp C_PREVIOUS  &kp C_VOL_DN  &kp C_VOLUME_UP  &kp C_NEXT  &trans                                           &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &trans
                                                                   &mkp LCLK  &mkp MCLK  &mkp RCLK  &trans  &trans  &trans
            >;
        };
    };
};

// vim: expandtab softtabstop=4 shiftwidth=4 filetype=dts
